[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"
lxml = "*"
mysqlclient = "*"
"mecab-python3" = "*"
gensim = "*"
pandas = "*"
matplotlib = "*"
japanize-matplotlib = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
